body{
  font-family: 'Playfair Display', serif;
}
header{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.bg-image{
  background-image: url(soccer-ball.jpg);
  src: url(@guillaumedegermain);
  height: fit-content;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.card{
  opacity: 75%;
  box-shadow: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-1{
  opacity: 85%;
}
.text-shadow{
  text-shadow: 1px 1px black;
}
@media only screen and (min-width: 600px) {
  .spill-out {
    position: relative;
    top: 50%;
  }
}

@media only screen and (min-width: 700px) and (max-width:1200px) {
  .spill-out {
    position: absolute;
    top: 58%;
    left: 49%;
  }
}

@media only screen and (max-width: 770px) {
  .sm-hidden {
    display: none;
  }
}

.pad{
  padding: 1em;
}
.btn-right{
  position: relative;
  left:75%
}

.font-md{
  font-size:medium ;
}
img{
  max-width: 100%;
  width: 100%;
}
button:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: .6s;
}
